<h1>Nation Info</h1>
<% @characters.each do |character| %>
  <h4>Name: <%= character[:name] %></h4>
  <h4>Allies: <%= character[:allies].join(", ") %></h4>

  <h4> Enemies: <%= character[:enemies].join(", ") %></h4>

  <h4>Affiliation: <%= character[:affiliation] %></h4></br>

  <img src="<%= character[:photoUrl]%>", alt="photo">
<% end %>
